body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
nav {
	display: flex;
	padding-top: 25px;
	flex-direction: row;
}
#main-content {
	display: flex;
	flex-direction: column;
	font-family: Helvetica;
	padding: 30px;
}

#park {
	display: flex;
}

ul {
	list-style-type: none;
}

#park-detail{
	display:flex;
}

#park-detail img{
height:300px;
}
</style>
<nav id="navbar">
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



